#dashBoardUserProfile{
  width: 60rem;
  margin: 7rem auto;
  position: relative;

  #dashBoardProfilePicture{
    position: relative;
    text-align: center;
    top: 1rem;
    width: 25rem;
    .pictureBox{
      z-index: -1;
    }
  }
  #dashBoardProfileRank{
    position: absolute;
    bottom: -2.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  #dashBoardProfileInformation{
    text-align: right;
    color: var(--ColorFont);
    padding: 0 1rem 1rem 1rem;
    border-right: 2px solid white;
    box-shadow: 2px 0 0 rgba(0,0,0,0.3);

    text-shadow: 0 0 5px rgba(0,0,0,0.5);

    top: 0;
    right: 4rem;
    width: 50%;

    position: absolute;

    #dashboardGender{
      font-size: 2.2rem;
      display: inline;
      text-shadow: 0 0 10px black;
    }

    #dashboardUsername{
      display: inline;
      font-size: 4rem;
      text-shadow: 0 0 10px black;
    }

    #dashboardFirstname,#dashboardLastname{
      display: inline;
      font-size: 1.4rem;
    }

    #dashboardDescription{
      padding: 2rem 0;
      color: var(--ColorLightGrey);
      font-style: italic;
    }

    #dashboardEmail{
      font-size: 1.1rem;
      i{
        font-size: 1rem;
      }
    }

    #dashboardInsertedDate{
      padding-top: 1rem;
      span{
        font-size: 0.9rem;
        color: var(--ColorLightGrey);
      }
    }

    #dashboardUpdatedDate{
      span{
        font-size: 0.9rem;
        color: var(--ColorLightGrey);
      }
    }
  }
}

.dashBoardMenuTab{

}

.stars{
  display: inline-block;
  position: relative;
  font-size: 3rem;

  text-shadow: 0 0 10px var(--ColorTitleShadow2);

  &:before{
    color: var(--ColorLightGrey);
    content: '\2606\2606\2606\2606\2606';
  }
}

.rank{
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;

  &:after{
    content: '\2605\2605\2605\2605\2605';
    color: var(--ColorTitle);
  }
}

.score{
  font-size: 50%;
  font-weight: bold;
  text-align: center;
  color: white;
}