.inputBox{
  margin: 0.1rem 0;
  padding: 0 0.3rem;
  position: relative;
  height: 3rem;

  :focus{
    border: 1px solid #309280;
    box-shadow: inset 0 0 20px rgba(#309280,0.3);
    background-color: var(--ColorFont);
    outline: none;
    color: black;
  }

  input{
    margin: 0.5rem 0;
    height: 2rem;
    border: 1px solid grey;

    border-radius: 50px;
  }
  label{
    top: -0.1rem;
    left: 0.8rem;
    background: linear-gradient(0deg, grey, transparent 80%);
    border-radius: 50%;
    padding: 0 0.4rem;
    text-shadow: 0 0.1rem 0.2rem black;
    font-size: 0.95rem;
    color: white;

    position: absolute;
  }
  input, select,textarea{
    margin: 0.5rem 0;
    padding: 1.1rem 1rem;
    font-size: 1.2rem;
    border: 1px solid grey;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: var(--ColorInputBackground);

    border-radius: 50px;
  }
  textarea{
    border-radius: 15px;
    height: 5.6rem;
    resize: none;


    font-family: Roboto,sans-serif;
  }
  button{
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    vertical-align: middle;
  }
}

.buttonBox{

  :hover{
    color: var(--ColorButtonHover);
  }

  button{
    width: 4rem;
    height: 4rem;
    background: radial-gradient(rgba(0,0,0,0.2), transparent 90%);
    color: var(--ColorFont);
    text-shadow: 0 0 10px black;

    box-shadow: 0 0 20px rgba(#309280,0.25);
    border: 1px solid white;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;

    cursor: pointer;

    i{
      font-size: 2rem;
      text-shadow: 0 0 5px black;
    }
  }
  :focus{
    color: var(--ColorFont);
    border: 1px solid var(--ColorButtonFocus);
    box-shadow: 0 0 20px rgba(#309280,0.5);
    outline: none;
    background-color: transparent;
  }
}

//PICTURES
.pictureBox{
  width: 15rem;
  height: 15rem;
  border: 2px solid var(--ColorLightGrey);
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
  display: inline-block;
  text-align: left;

  overflow: hidden;
  border-radius: 100%;
  position: relative;

  img{
    transform:scale(1.2);
    height: 100%;
    width: 100%;
    position: absolute;
    margin: auto auto;
    border: 6px solid transparent;
    border-radius: 100%;
  }
}


//TEXT
.h1Text{
  font-size: 5rem;
  font-family: third-rail;
  color: var(--ColorTitle);
  text-align: center;
  text-shadow:
          2px 2px 0 var(--ColorTitleShadow1) ,
          -2px -2px 0 var(--ColorTitleShadow1) ,
          2px -2px 0 var(--ColorTitleShadow1) ,
          -2px 2px 0 var(--ColorTitleShadow1) ,

          4px 4px 8px var(--ColorTitleShadow2) ,
          -4px 4px 8px var(--ColorTitleShadow2) ,
          4px -4px 8px var(--ColorTitleShadow2) ,
          -4px -4px 8px var(--ColorTitleShadow2),

          10px 10px 15px var(--ColorTitleShadow3) ,
          -10px 10px 15px var(--ColorTitleShadow3) ,
          10px -10px 15px var(--ColorTitleShadow3) ,
          -10px -10px 15px var(--ColorTitleShadow3);

}
.h1TextLetter{
  margin: 1rem;
  color: var(--ColorTitleLetter);
}
.h2Text{
  font-size: 2rem;
  text-align: center;
  h2{
    color: var(--ColorFont);
    text-shadow: 0 0 10px black;
    text-transform: uppercase;
  }
  span{
    color: var(--ColorBlue);
  }
}
.h3Text{
  font-size: 1.5rem;
  text-align: center;
  color: var(--ColorFont);

  span{
    color: var(--ColorFont);
    text-shadow: 0 0 10px var(--ColorGreen);
  }
}
.h4Text{
  color: var(--ColorFont);
  font-size: 1.1rem;
  text-align: center;

  :hover{
    color: var(--ColorButtonFocus);
  }
  span{
    color: var(--ColorBlue);
  }
  a{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--ColorFont);
    text-shadow: 0 0 5px var(--ColorBlue);
  }
}

.errorText{
  font-size: 1.1rem;
  text-align: center;
  span{
    color: var(--ColorRed);
  }
}