*{
  box-sizing: border-box;
}
body{
  font-family: Roboto, sans-serif;
  height: 100vh;

  background-image: url(../img/backgroundShare2U-resized.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin: 0;
  padding: 0;
}
header{
  padding-top: 5rem;
}
nav{
  padding: 1rem;
  background: linear-gradient(rgba(0,0,0,0.5), transparent);
  position: fixed;
  width: 100%;
  height: 5rem;
  line-height: 3rem;
  top: 0;
  left: 0;
  h1{
    display: inline-block;
    margin: 0;
  }

  #headerTitle{
    font-size: 4rem;
    margin-left: 1rem;

    vertical-align: middle;
  }

  #headerSearch{
    margin-left: 1.5rem;

    display: inline-block;
    vertical-align: middle;
    div{
      display: inline-block;
    }
    #headerSearchInput{
      padding: 0 1rem;
    }

    #headerSearchBtn{
      width: 2rem;
      height: 2rem;
      border: none;
      box-shadow: none;

      i{
      font-size: 1.3rem;
      }
    }
  }

  #headerMenuList{
    color: var(--ColorFont);
    right: 2rem;
    font-size: 1.2rem;

    position: absolute;
    top: 0;
    bottom: 0;
    list-style: none;
    display: inline-block;

    #headerMenuUsername{
      font-size: 1.6rem;
      color: var(--ColorTitle);
      text-shadow: 0 0 5px var(--ColorGreen);

      border-bottom: none;

      &:hover{
        color: var(--ColorTitleShadow1);
        text-shadow: 0 0 5px var(--ColorFocus);
      }
    }
    #headerMenuLogout{
      border-bottom: none;

      &:hover{
        color: var(--ColorRed2);
        text-shadow: 0 0 5px black;
      }
    }

    li:last-child{
      a{
        color: var(--ColorRed);
      }
    }
    li{
    display: inline-block;
      a{
        color: var(--ColorFont);
        margin: 0 0.3rem;
        padding: 0 0.4rem;

        text-decoration: none;

        &:hover{
          color: var(--ColorTitleShadow1);
          text-shadow: 0 0 5px var(--ColorFocus);
        }

      }
    }
  }
}


//layoutUnlogged
#headerMenuUnlogged{
  color: var(--ColorFont) !important;
  &:hover{
    color: var(--ColorTitleShadow1) !important;
  }
}