*{
  box-sizing: border-box;
}
body{
  font-family: Roboto, sans-serif;

  margin: 0;
  padding: 0;
}

nav{
  padding: 1rem;
  background-color: var(--ColorGreen);
  position: relative;
  height: 5rem;
  line-height: 3rem;
  h1{
    display: inline-block;
    margin: 0;
  }

  #headerTitle{
    font-size: 4rem;
    margin-left: 1rem;
    color: var(--ColorTitle);
    text-shadow: 0 0 10px black;
    font-family: third-rail, Arial;

    vertical-align: middle;
  }

  #headerSearch{
    margin-left: 1.5rem;

    display: inline-block;
    vertical-align: middle;
    #headerSearchInput{
    }

    #headerSearchBtn{
      margin-bottom: 0.3rem;
      background: rgba(0,0,0,0.2);
      border: 1px solid var(--ColorGrey);
      box-shadow: 0 0 20px var(--ColorLightGrey);
    }
  }

  #headerMenuList{
    color: var(--ColorFont);
    right: 2rem;

    position: absolute;
    top: 0;
    bottom: 0;
    list-style: none;
    display: inline-block;

    li:first-child{
      a{
        color: var(--ColorBlue);

        border-bottom: none;
      }
    }
    li{
    display: inline-block;
      a{
        color: var(--ColorFont);
        border-bottom: 1px solid var(--ColorFont);
        margin: 0 0.3rem;
        padding: 0 0.4rem;

        text-decoration: none;
      }
    }
  }
}


.inputBox{
  margin: 0.1rem 0;
  padding: 0 0.3rem;
  position: relative;
  height: 3rem;
  :focus{
    border: 1px solid #309280;
    box-shadow: 0 0 20px rgba(#309280,0.25);
    outline: none;
    color: black;
  }

  input{
    margin: 0.5rem 0;
    height: 2rem;
    border: 1px solid grey;

    border-radius: 50px;
  }
  label{
    top: -0.1rem;
    left: 0.8rem;
    background-color: var(--ColorFont);
    font-size: 0.9rem;
    color: grey;

    position: absolute;
  }
  .inputBox:focus label{
    color: white;
  }
  input, select,textarea{
    margin: 0.5rem 0;
    padding: 1.1rem 1rem;
    font-size: 1.2rem;
    border: 1px solid grey;

    border-radius: 50px;
  }
  textarea{
    border-radius: 15px;
    height: 5.6rem;
    resize: none;


    font-family: Roboto,sans-serif;
  }
  button{
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    vertical-align: middle;
  }
}

.h2Text{
  font-size: 2rem;
  text-align: center;
  span{
    color: var(--ColorBlue);
  }
}
.h3Text{
  font-size: 1.5rem;
  text-align: center;
  span{
    color: var(--ColorBlue);
  }
}