#searchResultMain{
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 7rem;
  padding: 0 0.5rem;

  .h2Text{
    h2{
      span{
        text-transform: none;
      }
    }
  }

  .searchResults{
    padding: 1rem 0;
    border-left: 2px solid white;
    box-shadow: -2.5px 0 0 rgba(0,0,0,0.3);
  }

  .cardBox{
    box-shadow: 2px 0 10px rgba(0,0,0,0.5);
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
    &:hover{
      -webkit-transform: scale(1.03) translateX(0.7rem);
      -moz-transform: scale(1.03) translateX(0.7rem);
      -ms-transform: scale(1.03) translateX(0.7rem);
      -o-transform: scale(1.03) translateX(0.7rem);
      transform: scale(1.03) translateX(0.7rem);
    }


    margin: 1rem 0;

    #searchResultCardDescription{
      text-align: center;
      padding: 0.4rem 3rem 0 3rem;
      max-height: 5rem;
      overflow: hidden;
      overflow-scrolling: auto;

      span{
        font-style: italic;
        color: var(--ColorLightGrey);
      }
    }
  }
}