#signupForm{
  margin: 5rem 0;
  form{
    width: 60rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div{
      width: 49%;
      display: flex;
      flex-wrap: wrap;
      .inputBox{
        margin: 0.1rem 0;
        position: relative;
        height: 3rem;
        :focus{
          border: 1px solid #309280;
          box-shadow: 0 0 20px rgba(#309280,0.25);
          outline: none;
          color: black;
        }

        input{
          margin: 0.5rem 0.2rem;
          height: 2rem;
          border: 1px solid grey;

          border-radius: 50px;
        }
        label{
          top: -0.1rem;
          left: 0.8rem;
          background-color: var(--ColorFont);
          font-size: 0.9rem;
          color: grey;

          position: absolute;
        }
        .inputBox:focus label{
          color: white;
        }
        input, select,textarea{
          margin: 0.5rem 0.2rem;
          padding: 0.5rem 1rem;
          font-size: 1.2rem;
          height: 1.2rem;
          border: 1px solid grey;

          border-radius: 50px;
        }
        textarea{
          border-radius: 15px;
          height: 5rem;

          font-family: Roboto,sans-serif;
        }
      }
    }
    #submitArea{
      margin: 2rem 0;
      width: 100%;

      div{
        margin: 0 auto;
        :focus{
          border: 1px solid #309280;
          box-shadow: 0 0 20px rgba(#309280,0.5);
          outline: none;
        }

        button{
          width: 4rem;
          height: 4rem;
          background: radial-gradient(white,grey);
          color: white;
          text-shadow: 0 0 10px black;

          box-shadow: 0 0 20px rgba(#309280,0.25);
          border: 1px solid grey;
          text-transform: uppercase;
          font-weight: bold;

          margin: 2rem auto;
          border-radius: 50px;
        }
      }
    }

    //INPUT SIZES
    .userFormFirstname{
      width: 50%;
      input{
        width: 100%;
      }
    }
    .userFormLastname{
      width: 50%;
      input{
        width: 100%;
      }
    }
    .userFormEmail{
      width: 100%;
      input{
        width: 100%;
      }
    }
    .userFormUsername{
      width: 69%;
      input{
        width: 100%;
      }
    }
    .userFormGender{
      width: 31%;
      #user_form_gender{
        font-size: 1.05rem;
        height: 2.4rem;
        padding: 0.5rem;

        width: 100%;
      }
    }
    .userFormPassword{
      width: 100%;
      div{
        width: 100%;
        position: relative;
        input{
          width: 100%;
        }
      }
    }
    .userFormAddress1{
      width: 100%;
      input{
        width: 100%;
      }
    }
    .userFormAddress2{
      width: 100%;
      input{
        width: 100%;
      }
    }
    .userFormCity{
      width: 40%;
      input{
        width: 100%;
      }
    }
    .userFormZipCode{
      width: 20%;
      input{
        width: 100%;
      }
    }
    .userFormCountry{
      width: 40%;
      input{
        width: 100%;
      }
    }
    .userFormDescription{
      width: 100%;
      textarea{
        width: 100%;
      }
    }
  }
}