#signupForm{
  margin: 5rem 0;
  form{
    width: 60rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div{
      width: 49%;
      display: flex;
      flex-wrap: wrap;
    }
    #submitArea{
      margin: 2rem 0;
      width: 100%;

      div{
        margin: 0 auto;
        :focus{
          border: 1px solid var(--ColorFocus);
          box-shadow: 0 0 20px rgba(#309280,0.5);
          outline: none;
        }

        button{
          width: 4rem;
          height: 4rem;
          background: radial-gradient(var(--ColorFont),var(--ColorGrey));
          color: var(--ColorFont);
          text-shadow: 0 0 10px black;

          box-shadow: 0 0 20px rgba(#309280,0.25);
          border: 1px solid grey;
          text-transform: uppercase;
          font-weight: bold;

          margin: 2rem auto;
          border-radius: 50px;
        }
      }
    }

    //INPUT SIZES
    .userFormFirstname{
      width: 50%;
      input{
        width: 100%;
      }
    }
    .userFormLastname{
      width: 50%;
      input{
        width: 100%;
      }
    }
    .userFormEmail{
      width: 100%;
      input{
        width: 100%;
      }
    }
    .userFormUsername{
      width: 69%;
      input{
        width: 100%;
      }
    }
    .userFormGender{
      width: 31%;
      #user_form_gender{
        font-size: 1.05rem;
        padding: 0 0.5rem;

        width: 100%;
        height: 2.3rem;
      }
    }
    .userFormPassword{
      label{
        display: none;
      }
      width: 100%;
      div{
        width: 100%;
        position: relative;
        input{
          width: 100%;
        }
        label{
        display: inline;
        }
      }
    }
    .userFormAddress1{
      width: 100%;
      input{
        width: 100%;
      }
    }
    .userFormAddress2{
      width: 100%;
      input{
        width: 100%;
      }
    }
    .userFormCity{
      width: 40%;
      input{
        width: 100%;
      }
    }
    .userFormZipCode{
      width: 20%;
      input{
        width: 100%;
      }
    }
    .userFormCountry{
      width: 40%;
      input{
        width: 100%;
      }
    }
    .userFormDescription{
      width: 100%;
      textarea{
        width: 100%;
        padding: 0.6rem 1rem;
      }
    }
  }
}