body{
  --ColorTitle: #D1CBD0;
  --ColorFont: white;
  --ColorGreen: #18BBB0;
  --ColorBlue: #6D63FF;
  --ColorGrey:grey;
  --ColorLightGrey:lightgrey;
  --ColorRed:red;

  --ColorFocus:#309280;

}

@font-face{
  font-family: rustico;
  src: url(font/Rustico-Regular.otf);
}

@font-face{
  font-family: third-rail;
  src: url(font/ThirdRail-Demo.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Roboto');