body{
  --ColorTitle: #D1CBD0;
  --ColorFont: white;
  --ColorGreen: #25FF67;
  --ColorBlue: #6D63FF;

}

@font-face{
  font-family: rustico;
  src: url(font/Rustico-Regular.otf);
}

@font-face{
  font-family: third-rail;
  src: url(font/ThirdRail-Demo.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Roboto');