{% extends "layout.html.twig" %}

{% block title '' %}

{% block content %}

    {#RESPONSIVE#}
    <style>
        #headerMenuResponsive{
            height: 4.9rem !important;
        }
        #headerMenuResponsive ul{
            top: 4rem !important;
        }
    </style>
    {#END OF RESPONSIVE#}


    <div id="aboutPictures">
        <div class="aboutArea">
            <div class="pictureBox">
              <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAIA_wDGAAAAAQAAAAAAAAx6AAAAJDNlMzliM2QwLTYzZGItNGI5OS1iZmZkLWQwZTUwNWRkNmM1YQ.jpg">
                <a target="_blank" href="https://www.linkedin.com/in/adrienpvm/"><span>Adrien PVM</span></a>
            </div>
            <p>Front & Back End Developer  2D & 3D Artist Skilled in Javascript (JQuery), HTML5, CSS3, PHP (Silex), SQL, Ajax, Wordpress | Passionate Gamer</p>
        </div>
        <div class="aboutArea">
           <div class="pictureBox">
              <img src="https://media.licdn.com/media/AAIAAgDGAAAAAQAAAAAAAAufAAAAJGU3YjdkZDAxLTc0MzktNDk5MC05OTYyLThmZTI1ZjAxYWM5MA.jpg">
               <a target="_blank" href="https://www.linkedin.com/in/cyril-giuliani-64b2a1145/"><span>Cyril G</span></a>
           </div>
            <p>Passionné par le développement web, après 5 années au sein de l’armée, j'ai décidé d’effectuer une reconversion dans le développement web afin de vivre pleinement ma passion</p>
        </div>
        <div class="aboutArea">
           <div class="pictureBox">
              <img src="https://media.licdn.com/media/AAIA_wDGAAAAAQAAAAAAAAx7AAAAJGI4NjcyODQzLTAxYTUtNGY1Ni05ZWVhLTUxMzE4ZDdlNDE3Mw.jpg">
               <a target="_blank" href="https://www.linkedin.com/in/fran%C3%A7ois-wirion-b4a778151/"><span>Francois W</span></a>
           </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at beatae consequuntur facilis velit? Aspernatur beatae cupiditate delectus deleniti hic iste magni voluptas</p>
        </div>
        <div class="aboutArea">
            <div class="pictureBox">
                <img src="https://media.licdn.com/media/AAIAAgDGAAAAAQAAAAAAAAoxAAAAJDYyZGQ2ZTEwLWE3NjctNDI5Mi05NDNhLWM3MTFhMDI4NGM2Zg.jpg">
                <a target="_blank" href="https://www.linkedin.com/in/wael-miri-6b92b4152/"><span>Wael M</span></a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at beatae consequuntur facilis velit? Aspernatur beatae cupiditate delectus deleniti hic iste magni voluptas</p>
        </div>
    </div>
{% endblock %}