{% extends "layout.html.twig" %}

{% block title '' %}

{% block content %}
    {% if isBorrower %}
        <h1>is the borrower</h1>
    {% elseif isLoaner %}
        <h1>is the loaner</h1>
    {% endif %}
    {{ dump(loan) }}
    {{form(commentForm)}}
    <div style="height: 200px"></div>
{% endblock %}