<footer>
    <div id="footerMain">
        <span id="footerCopyright">©2017 Share2U | BroCode</span>
        <ul id="footerSocialList">
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fab fa-youtube"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
    <ul id="footerMenuList">
        <li><a href="{{ path('support') }}">Support</a></li>
        <li><a href="{{ path('about') }}">About</a></li>
    </ul>
</footer>