<!--HEAD-->
{{ include('head.html') }}

<body>
<!--HEADER-->
<header>
    <nav>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<!--FOOTER-->
{{ include('footer.html') }}
</body>
</html>
