<!--HEAD-->
{{ include('head.html') }}

<body>
<!--HEADER-->
<header>
    <nav>
        <a href="{{ path('homepage') }}"><h1 id="headerTitle" class="h1Text">Share<span style="margin: 0.7rem;" class="h1TextLetter">2</span>U</h1></a>
        <ul id="headerMenuList">
            <li><a id="headerMenuUnlogged" href="{{ path('homepage') }}">Home</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<!--FOOTER-->
{{ include('footer.html') }}
</body>
</html>
