{% extends "layout.html.twig" %}

{% block title '' %}

{% block content %}
    {% if viewedUser is defined and viewedUser is not null %}
        {{ dump(viewedUser) }}
    {% else %}
        {{ dump(user) }}
    {% endif %}

    <form action="{{ path('profile') }}">
        <input type="button" value="Edit">
    </form>
{% endblock %}
