{% extends "layout.html.twig" %}

{% block title %}Reset your password{% endblock %}

{% block content %}

    <h1>
        Choose a new password, {{ user.displayName }}
    </h1>

    {% if error %}
        <div class="alert alert-danger">{{ error|nl2br }}</div>
    {% endif %}

    <form class="form-horizontal" method="POST">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-password">New password</label>
            <div class="col-sm-8">
                <input class="form-control" name="password" type="password" id="input-password" required placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-confirm-password">Re-type password</label>
            <div class="col-sm-8">
                <input class="form-control" name="confirm_password" type="password" id="input-confirm-password" required placeholder="Re-type password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Save password</button>
            </div>
        </div>
    </form>
    <hr style="margin-top: 30px;"/>
    <p style="font-size: 13px;">
        <strong>Didn't ask to reset your password?</strong>
        <br/>
        If you didn't ask to reset your password, it's likely that
        another user entered your username or email address by mistake
        while trying to reset their password. If that's the case, you
        don't need to take any further action and you can safely
        disregard this email.
    </p>

{% endblock %}