{% extends "layout.html.twig" %}

{% block title '' %}

{% block content %}
    <div class="starter-template">
        <h1>Contact Us</h1>
        <p class="lead">Want some help? Get in touch using the form below.</p>
    </div>
    {% if sent is defined %}
        <p>Thank you for getting in touch. If a response is required we will get back to you as soon as we can.</p>
    {% else %}
        <p>Contact us using the form below and we'll get back in touch with you as soon as possible  .</p>
        <form role="form" method="POST" action="{{ path('support') }}">
            <div class="form-group">
                <label for="name">FirstName</label>
                <input type="name" class="form-control" id="firstname" name="firstname" placeholder="Enter FirstName" required="required">
            </div>
            <div class="form-group">
                <label for="name">LastName</label>
                <input type="name" class="form-control" id="lastname" name="lastname" placeholder="Enter LastName" required="required">
            </div>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required="required">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea name="message" id="message" class="form-control" rows="3" placeholder="Enter Your Message" required="required" maxlength="500"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Send It</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
